@model Lab2.Models.Author

<h1>Autor został dodany</h1>
<p>Identyfikator: @Model.AuthorId</p>
<p>Imie i nazwisko: @Model.FirstName @Model.LastName</p>
<a asp-controller="Author" asp-action="Index">Powrót</a>