@model List<Lab2.Models.Author>

<h1>Lista Autorów </h1>
<p>
    <a class="btn btn-outline-success" asp-controller="Author" asp-action="Add">Dodaj Autora</a>
    <ul class="list-group list-group-flush">
        @foreach (var author in Model)
        {
            <li class="list-group-item list-group-item-dark my-5 w-100">
                <p><strong>Imie i nazwisko: </strong>@author.FirstName @author.LastName</p>
            </li>
        }
    </ul>
</p>
