@model List<Lab2.Models.Tag>

<h1>Lista Tagów</h1>
<p>
    <a class="btn btn-outline-success" asp-controller="Tag" asp-action="Add">Dodaj tag</a>
    <ul class="list-group list-group-flush">
        @foreach (var tag in Model)
        {
            <li class="list-group-item list-group-item-dark my-5 w-100">
                <p><strong>Nazwa kategorii: </strong>@tag.Name</p>
            </li>
        }
    </ul>
</p>