@model Lab2.Models.Category

<h1>Kategoria została dodana</h1>
<p>Identyfikator kategorii: @Model.CategoryId</p>
<p>Nazwa kategorii: @Model.Name</p>
<a asp-controller="Category" asp-action="Index">Powrót</a>


