@{
}
<h1>Dodawanie nowej ligi</h1>
<form asp-controller="League" asp-action="Added" method="POST">
    <p>
        <label for="Name">Nazwa Ligi</label>
        <input type="text" id="Name" name="Name" />
    </p>
    <p>
        <label for="Country">Kraj</label>
        <input type="text" id="Country" name="Country" />
    </p>
    <p>
        <label for="Level">Poziom ligi</label>
        <input type="number" id="Level" name="Level" />
    </p>
    <p>
        <input type="submit" value="Dodaj nowa lige" />
    </p>
</form>