@model Lab2.Models.League

<h1>Liga została dodana</h1>
<p>Identyfikator ligi: @Model.LeagueId</p>
<p>Nazwa ligi: @Model.Name</p>
<p>Kraj ligi: @Model.Country</p>
<p>Poziom ligi: @Model.Level</p>
<a asp-controller="League" asp-action="Index">Powrót</a>


