@model Lab2.Models.Player

<h1>Dodawanie nowego zawodnika</h1>
<form asp-action="Added" asp-controller="Player" method="post">
    <div class="form-group my-3">
        <label asp-for="FIrstName">Imie </label>
        <input asp-for="FIrstName" class="form-control" type="text" name="FIrstName" id="FIrstName" />
    </div>
    <div class="form-group my-3">
        <label asp-for="LastName">Nazwisko</label>
        <input asp-for="LastName" class="form-control" type="text" name="LastName" id="LastName" />
    </div>
    <div class="form-group my-3">
        <label asp-for="Country">Kraj</label>
        <input asp-for="Country" class="form-control" type="text" name="Country" id="Country" />
    </div>
    <div class="form-group my-3">
        <label asp-for="BirthDate">Data urodzenia </label>
        <input asp-for="BirthDate" class="form-control" type="datetime-local" name="BirthDate" id="BirthDate" />
    </div>
    <div class="form-group my-3">
        <label asp-for="TeamId">Klub</label>
        <select asp-for="TeamId" class="form-control" asp-items="@ViewBag.Teams"></select>
    </div>
    <div class="form-group my-3">
        <label asp-for="Positions">Pozycje</label>
        @{
            foreach (var item in ViewBag.Positions)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="Positions" value="@item.Value" />
                    <label class="form-check-label">@item.Text</label>
                </div>
            }
        }
    </div>
    <div class="text-center my-5">
        <input class="btn btn-success" type="submit" value="Dodaj zawodnika" />
    </div>
</form>