@model Lab2.Models.Player

<h1>Edycja zawodnika</h1>
<form asp-action="EditUpdate" method="post">
    <input asp-for="PlayerId" type="hidden" />
    <p>
        <label asp-for="FIrstName">Imie </label>
        <input asp-for="FIrstName" />
    </p>
    <p>
        <label asp-for="LastName">Nazwisko</label>
        <input asp-for="LastName" />
    </p>
    <p>
        <label asp-for="Country">Kraj</label>
        <input asp-for="Country" />
    </p>
    <p>
        <label asp-for="BirthDate">Data urodzenia </label>
        <input asp-for="BirthDate" />
    </p>
    <p>
        <label asp-for="TeamId">Klub</label>
        <select asp-for="TeamId" asp-items="@ViewBag.Teams"></select>
    </p>
    <p>
        <label asp-for="Positions">Pozycje</label>
        <select asp-for="Positions" name="Positions" asp-items="@ViewBag.Positions" multiple></select>
    </p>
    <p>
        <input type="submit" value="Aktualizuj zawodnika" />
    </p>
</form>