@{
}
<h1>Dodawanie nowej pozycji</h1>
<form asp-controller="Position" asp-action="Added" method="POST">
    <p>
        <label for="Name">Nazwa pozycji</label>
        <input type="text" id="Name" name="Name" />
    </p>
    <p>
        <input type="submit" value="Dodaj pozycje" />
    </p>
</form>