<h1>Dodawanie nowej pozycji</h1>
<form asp-controller="Position" asp-action="Added" method="POST">
    <div class="form-group my-3">
        <label for="Name">Nazwa pozycji</label>
        <input type="text" class="form-control" id="Name" name="Name" />
    </div>
    <div class="text-center my-5">
        <input type="submit" class="btn btn-success" value="Dodaj pozycje" />
    </div>
</form>