@model Lab2.Models.Position

<h1>Pozycja została dodana</h1>
<p>Identyfikator pozycji: @Model.PositionId</p>
<p>Nazwa pozycji: @Model.Name</p>
<a asp-controller="Position" asp-action="Index">Powrót</a>


