<h1>Dodawanie nowego rodzaju wydarzenia </h1>
<form asp-controller="EventType" asp-action="Added" method="POST">
    <div class="form-group my-3">
        <label for="Name">Nazwa rodzaju wydarzenia</label>
        <input class="form-control" type="text" id="Name" name="Name" />
    </div>
    <div class="text-center my-5">
        <input type="submit" class="btn btn-success" value="Dodaj nowy typ wydarzenia" />
    </div>
</form>