@{
}
<h1>Dodawanie nowego rodzaju wydarzenia </h1>
<form asp-controller="EventType" asp-action="Added" method="POST">
    <p>
        <label for="Name">Nazwa rodzaju wydarzenia</label>
        <input type="text" id="Name" name="Name" />
    </p>
    <p>
        <input type="submit" value="Dodaj nowy typ wydarzenia" />
    </p>
</form>