@model Lab2.Models.EventType

<h1>Rodzaj wydarzenia został dodany</h1>
<p>Identyfikator rodzaju wydarzenia: @Model.EventTypeId</p>
<p>Nazwa rodzaju wydarzenia: @Model.Name</p>
<a asp-controller="EventType" asp-action="Index">Powrót</a>


