@{
    <h1>Witamy na stronie głównej</h1>
    // <p>
    //     Artykuły:
    //     <ul class="list-group list-group-flush">
    //         <li class="list-group-item list-group-item-dark"><a class="list-group-item list-group-item-dark" asp-controller="article" asp-action="index" asp-route-id=1>Artykuł 1</a></li>
    //         <li class="list-group-item list-group-item-dark"><a class="list-group-item list-group-item-dark" asp-controller="article" asp-action="index" asp-route-id=2> Artykuł 2</a></li>
    //         <li class="list-group-item list-group-item-dark"><a class="list-group-item list-group-item-dark" asp-controller="article" asp-action="index" asp-route-id=3> Artykuł 3</a></li>
    //     </ul> 
    // </p>
}
